USE [master]
GO
/****** Object:  Database [Supermercado]    Script Date: 26/05/2026 20:27:26 ******/
CREATE DATABASE [Supermercado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supermercado', FILENAME = N'C:\Users\marcu\Supermercado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supermercado_log', FILENAME = N'C:\Users\marcu\Supermercado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supermercado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supermercado]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 26/05/2026 20:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NULL,
	[Categoria] [varchar](100) NULL,
	[QuantidadeEstoque] [int] NULL,
	[Preco] [decimal](10, 2) NULL,
	[DataCadastro] [datetime] NULL,
	[Imagem] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
